$purple: rgb(120, 43, 144);
$gold: rgb(228, 179, 99);
// $link-color: rgb(115, 92, 221);
$link-color: rgb(6, 123, 194);
$red: rgb(255, 89, 94);
$link-hover-color: $red;
$link-active-color: $link-hover-color;